main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

blockquote {
    margin-left: 0;
}

figure {
    margin-left: 0;
}

.goal-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.goal-control-group {
    display: flex;
}
