main {                       
    max-width: 800px;        
    margin-left: auto;       
    margin-right: auto;      
}                            

blockquote {
    margin-left: 0;
}

figure {
    margin-left: 0;
}
